*{
    /*bloco de reset*/
    box-sizing: border-box;
}
body{
    margin:0;
    font-family: arial, Helvetica, sans-serif;
    background-color: #94c1d8; /*cor em hexadecimal*/
    padding: 20px;/*alterei o padding 16/04*/
}
header{
    background-color: #ffffff;/*cinza cocô kkkk*/
    color: #000000;/*branco em hexadecimal*/
    text-align: center;/*centraliza o texto*/
}
nav a{ /*nav navigation a a,de link, vou trabalhar só no link*/
    color: rgb(47, 0, 255);
    text-decoration: none;/*tirei toda a decoração do texto*/
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;/*radius é a borda arredondada*/
    background-color: #000000cc;
    border-bottom-color: rgb(255, 0, 221);
}
.bloco{ /*declaração de class, a class procede de "." */
    background-color: #013a90cc;
    color: black;
    border: 1px dotted #a3a3; /*borda geral tracejada*/
    border-radius: 6px;
    padding: 16px;
    margin-bottom: 16px;
    border-top: 2px solid rgb(0, 0, 0); /*borda superior solida*/
}
#galeria{ /* # significa id, onde coloca-se por ex.:id="galeria" 
    só pode ter 1 com o msesmo nome por página*/
    display: flex;
    flex-wrap: wrap;
    gap: 24px;/*espaço entre elementos dentro do id*/
    justify-content:center; /*centraliza hotizontal*/ /*reforçando que ele vai estar "flexivel"*/
padding: 20px;

}
.foto{
    background: #ffffff;
    padding: 12px 12px 20px 12px;/*lat dir, esq, baixo e topo*/
    border: 1px solid #dddddd;
    box-shadow: 0 4px 10px #000000;
    width: 220px;/*largura*/
    text-align: center;/*alinhamento ao centro*/
    border-radius: 4px;
}

.foto img{
width: 100%;
height: 220px;
object-fit: cover;/*efeito de sobrepor*/
display: block;
}
.foto:hover{
    transform: scale(1.50) rotate(-5deg);
}
.legenda{
    margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    font-style: italic;
}